Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-magic-numbers

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: ""
