---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 160

---
Language: Cpp

SpaceBeforeCpp11BracedList: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
SpaceBeforeCtorInitializerColon: false
...
